/* Breadcrumbs menu -> Account preferences */

.account-preferences-menu{
    display: flex;
    align-items: center;
}

.back-arrow{
    color: #5F7D63;
    stroke: #5F7D63;
    stroke-width: 100;
    font-size: 1.563rem;
    padding-right: 60px;
}

.account-preferences-menu .account-account{
    font-family: 'Georama', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #7A3C2A;
    padding-right: 60px;
}

.account-preferences-menu .account-preferences{
    font-family: 'Georama', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

}

/*Main account settings page grid*/
.header-grid{
    border-color: #7a3c2a;
    border-style: solid;
}

.header-grid .header-title{
    font-family: 'Faustina', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    color: #7A3C2A;
    margin-left: 20px;
}

.content-grid{
    padding-top: 20px;
    border-color: #7a3c2a;
    border-style: solid;
    border-top: none;
    padding-left: 20px;
}

.content-grid .form-input{
    border: none;
}

.ant-form-horizontal .ant-form-item-label {
    text-align: left;
    margin-right: 80px;
    font-family: 'Faustina', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #7A3C2A!important;
}

/*.ant-col .ant-col-4 .ant-form-item-label{*/
/*}*/

/*Password change settings*/

.password-field-label{

}

/*Button style*/
.change-password-container {

}

.submitButton{
    width: 150px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    float: left;
}

