.login-page-header{

}

.login-title {
  font-family: "Georama", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #5f7d63;
}

.login-field {
    margin-top: 1rem;
  width: 44.625rem ;
  background-color: white;
  padding: 0.75rem 1.125rem;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
}

.login-field input {
  border: 0;
  outline: none;
  margin-left: 0.75rem;
  font-family: "Faustina", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: black;
}

.login-field input::placeholder {
  color: #a59591;
}
.login-options-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-options-container p{
  font-family: 'Faustina';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: center;
  color: #7A3C2A;
}
.login-options-container a{
  font-family: 'Faustina';
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: center;
  color: #7A3C2A;

}

.logged-container{
  display: flex;
}

.logged-container input[type="checkbox"]{
  background: #A59591;
  border-radius: 50%;
}

.logged-container a{
  text-decoration: none;
}


.login-button-container {
    width: 100%;
    text-align: center;
}

.login-button {
margin-top: 2rem;
  background: #5f7d63;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f2f7f9;
  padding: 10px 50px;
  border: none;
}


.login-page-footer{

}

.login-page-footer p {
  font-family: 'Faustina';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: center;
  color: #7A3C2A;
}

.login-page-footer a{
  font-family: 'Faustina';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: center;
  color: #7A3C2A;

}

