.ant-layout-header{
  line-height: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8rem!important;
}
.header__title{
  font-size:1.5rem!important;
  font-weight: 700!important;
}
.back-icon{
  font-size:1.5rem;
}
.email-icon,
.password-icon {
  font-size: 1.5rem;
}
.ant-input-suffix {
  font-size: 1.5rem;
}
.email input,
.password input {
  border: 0;
  width: 44.625rem;
  outline: none;
  margin-left: 0.75rem;
  font-family: "Faustina", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: black;
}