/* ANT */
.ant-typography {
  color: #5f7d63 !important;
  font-family: "Georama", sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 2.375rem;
  margin-bottom: unset !important;
}

.ant-form {
  /* color: rgba(0, 0, 0, 0.85); */
  /* font-size: 0.875rem; */
}

.ant-row {
  display: flex;
  flex-flow: row wrap;
}
.ant-row::before,
.ant-row::after {
  display: flex;
}

.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: rgba(0, 0, 0, 0.85); */
  font-size: 0.875rem;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  margin-bottom: 1.5rem;
  vertical-align: top;
  /* transition: margin-bottom 0.3s 0.017s linear; */
}

.ant-form-item-control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.ant-form-item-control:first-child:not([class^="ant-col-"]):not([class*=" ant-col-"]) {
  width: 100%;
}
.ant-form-horizontal .ant-form-item-control {
  flex: 1 1 0;
  min-width: 0;
}
.ant-form-item-control:first-child:not([class^="ant-col-"]):not([class*=" ant-col-"]) {
  width: 100%;
}
.ant-form-item-control-input {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 2rem;
}
.ant-form-item-control-input-content {
  flex: auto;
  max-width: 100%;
}

.ant-form-item-explain-error {
  font-family: "Faustina" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  /* font-size: 1.5rem; */
  /* line-height: 1.875rem; */
  color: #d94216 !important;
  text-align: left !important;
}

.ant-form-item-explain,
.ant-form-item-extra {
  clear: both;
  color: rgba(0, 0, 0, 0.45);
  font-size: 1.5rem;
  line-height: 1.875rem;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ant-form-horizontal .ant-form-item-label {
  flex-grow: 0;
}

.ant-form-horizontal
  .ant-form-item-label[class$="-24"]
  + .ant-form-item-control,
.ant-form-horizontal
  .ant-form-item-label[class*="-24 "]
  + .ant-form-item-control {
  min-width: unset;
}

.ant-col {
  position: relative;
  max-width: 100%;
  min-height: 0.063rem;
}

.ant-form-horizontal .ant-form-item-label {
  flex-grow: 0;
}
.ant-form-horizontal .ant-form-item-control {
  flex: 1 1 0;
  min-width: 0;
}
.ant-form-horizontal
  .ant-form-item-label[class$="-24"]
  + .ant-form-item-control,
.ant-form-horizontal
  .ant-form-item-label[class*="-24 "]
  + .ant-form-item-control {
  min-width: unset;
}
/* INPUT */
.ant-input {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  color: #000 !important;
  font-family: "Faustina" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  /* font-size: 1.5rem; */
  /* line-height: 1.875rem; */
  background-color: #f2f7f9 !important;
  border-radius: 0.625rem;
  transition: all 0.3s;
}

.ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 0.25rem 0.688rem;
  color: #a59591 !important;
  font-size: 1.5rem;
  line-height: 1.5715;
  background-color: #f2f7f9 !important;
  border-radius: 0.625rem !important;
  transition: all 0.3s;
  display: inline-flex;
  border: 0 !important;
}

.ant-input-affix-wrapper > input.ant-input {
  padding: 0;
  border: none;
  outline: none;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: unset !important;
  box-shadow: unset !important;
  border-right-width: unset !important;
  outline: 0;
}

.ant-input:placeholder-shown {
  text-overflow: ellipsis;
}

.ant-input-prefix {
  margin-right: 0.625rem !important;
}

.ant-input-suffix {
  margin-left: 0.625rem !important;
}

/* .ant-input-prefix,
  .ant-input-suffix {
    display: flex;
    flex: none;
    align-items: center;
  } */

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  background: #f2f7f9 !important;
  border: 2px solid #d94216 !important;
}

.ant-form input[type="file"]:focus,
.ant-form input[type="radio"]:focus,
.ant-form input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.main-title1 {
  font-family: "Georama", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 2.063;
  text-align: center;
  /* color: #5f7d63; */
}

.register-button-container {
  /* width: 100%; */
  /*height: 50px;*/
  text-align: center;
  padding: 0.5rem;
  /* border: 2px solid yellow; */
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus {
  outline: 0;
}
.ant-btn-primary {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 0.875rem !important;
  color: #f2f7f9 !important;
  border-color: #1890ff;
  background: #5f7d63 !important;
  text-shadow: unset !important;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25) !important;
  border-radius: 3.125rem !important;
  width: 6.25rem !important;
  border: none !important;
}


