h5.ant-typography,
div.ant-typography-h5,
div.ant-typography-h5 > textarea,
.ant-typography h5 {
  margin-bottom: 0.5em !important;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Faustina" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  text-align: center;
  color: #7a3c2a !important;
}

.chk-checkbox-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #7a3c2a;
  display: inline-block;
  width: 60%;
  font-family: "Faustina";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.chk-row {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
}

.chk-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
  display: block;
  flex: 0 0 40%;
  max-width: 50%;
}

.chk {
  margin: 0.625rem 0.938rem;
  background-color: #f2f7f9;
  border-radius: 1.25rem;
  /* border: 1px solid #fff; */
  overflow: hidden;
  float: left;
}

.chk label {
  /* float: left; */
  width: 6.25rem;
  height: 1.25rem;
}

.chk label span {
  text-align: center;
  padding: 0.188rem 0;
  display: block;
}

.chk label input {
  position: absolute;
  display: none;
}

.chk label input + span {
  /* color: red;  */
}

.chk input:checked + span {
  /* color: blue; */
  /* text-shadow: 0 0 6px rgba(0, 0, 0, 0.8); */
}

.button input:checked + span {
  background-color: #faedcd;
}

.pref-button {
  /* margin-top: 2rem; */
  background: #5f7d63;
  box-shadow: 0rem 0.125rem 0.125rem rgb(0 0 0 / 25%);
  border-radius: 1.25rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-align: center;
  color: #f2f7f9;
  padding: 0.625rem 1.875rem;
  border: none;
}
