@import 'antd/es/style/themes/default.less';
@import 'antd/dist/antd.less';

@primary-color: #00000067; // primary color for all components
@link-color: #7a3c2a; // link color
@link-hover-color: none;
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #d94216; // error state color
@font-size-base: 14px; // major text font size
@heading-color: #5f7d63; // heading text color
@text-color: #7a3c2a; // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
// @border-color-base: #d9d9d9; // major border color
@border-color-base: #A59591; // changed for checkbox in login
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers

// Base Scaffolding Variables
// ---
@font-family: 'Faustina';
@border-radius-base: 5px;
// @icon-color: inherit;
@icon-color: #A59591;
// >>> Error
@error-color: #D94216;
@padding-md: 0; // small containers and buttons


// -----LAYOUT RELATED-----
@height-base: 40px;
@layout-body-background: none;
//@layout-header-background: none;
@layout-header-background: rgba(0, 0, 0, 0);
//@layout-header-height: 30px;
//@layout-header-padding: 5px 10px;
@layout-header-color: #5f7d63;
@layout-footer-padding: 5px 10px;

//-----TYPOGRAPHY RELATED----
@typography-title-font-weight: 400;
@typography-title-margin-top: none;
@typography-title-margin-bottom: none;

// -----INPUT RELATED------
@input-placeholder-color: #a59591;
@input-color: #000000;
@input-icon-color: #a59591;
@input-border-color: none;
@input-bg: #f2f7f9;
@input-hover-border-color: none;
//@input-border-radius: 100px;

// -----BUTTON RELATED----
@btn-border-radius-base: 20px;
// @btn-border-radius-base: 20px;
@btn-primary-color: #F2F7F9;
@btn-primary-bg: #5F7D63;
// @error-color: #d94216; // error state color
// @font-size-base: 24px; // major text font size
// @heading-color: #5F7D63; // heading text color
// @text-color: #785248; // major text color
// @text-color-secondary: #a59591; // secondary text color
// @disabled-color: #a59591; // disable state color
// @border-radius-base: 10px; // major border radius
// @border-color-base: #a59591; // major border color
// @box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
//   0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers

// -----CHECKBOX RELATED----
@checkbox-border-radius: 5px;
@checkbox-size: 20px;
@checkbox-color:  #A59591;
@checkbox-check-color: #fff;
@checkbox-check-bg:  none;
@checkbox-border-width: 4px;
// @checkbox-group-item-margin-right: 8px; // by default

// -----SELECT RELATED-----
@select-item-selected-bg: #D3D3D3;

// -----HEADER RELATED-----
// @layout-header-background: none;

// -----LINK RELATED-----
// @button-hover-color: none;

// ----- MODAL RELATED-----
@modal-body-padding: 0px;
@modal-content-bg: rgba(217, 217, 217, 1);
@modal-mask-bg: fade(@black, 60%);
@modal-border-radius: 1.5rem;

// -----NOTIFICATION RELATED-----
@notification-bg: @component-background;
@notification-padding-vertical: 16px;
@notification-padding-horizontal: 24px;

// -----ALERT RELATED-----

@alert-success-bg-color: #F2F7F9;
@alert-success-border-color:  #3A423C;
@alert-text-color: #3A423C;



//background: #F2F7F9;
//border: 1px solid #3A423C;
//border-radius: 50px;