.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.ant-layout-header{
  padding: 0 30px!important;
}

.menu-bar-header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;

}

.title-logo {
  float: left;
  width: auto;
  height: 31px;
  margin: 16px 24px 16px 0;
}
.title-logo .title-text{
  font-family: Angkor, serif;
  font-size: 1.875rem;
  color: #ffffff;
}

.menu-buttons{
  display: inline-flex;
  align-items: baseline;
}
.menu-buttons .shopping-cart-icon{
  font-size: 30px;
  color: #ffffff;
  padding-right: 10px ;
}
.search-box span{
  border-radius: 6.25rem;
}

.menu-buttons .user-account-icon{
  font-size: 30px;
  color: #ffffff;
}

.dropdown-icon{
  font-size: 30px;
  color: #3A423C;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
[data-theme="dark"] .site-layout-content {
  background: #141414;
}

.main-page-header{
  background-color: #3A423C!important;
}