.meal-card {
  color: #3a423c;
  background: #f5f5f5;
  border-radius: 10px;
  align-items: center;
  border: 2px solid red;

  display: grid;
  /*grid-template-columns: repeat(2, 1fr);*/
  grid-template-columns: 4fr 1fr;
  gap: 0.625rem 0.25rem;
  /*justify-items: center;*/
  padding: 1rem;
}

.meal-name {
  font-weight: 700;
  font-size: 24px;
  // border: 2px solid blue
}

.meal-price {
  font-weight: 500;
  /*font-size: 18px;*/
  // border: 2px solid yellow;
}

.meal-descr {
  font-weight: 400;
  font-size: 20px;
  // border: 2px solid green;
}

.meal-cart {
  display: flex;
  justify-content: center;
  font-size: 20px;
  // border: 2px solid purple;
}
